:global {
    .team-name-config-order-dropdown {
        margin-bottom: 25px;

        label {
            text-align: left;
            font: normal normal normal 16px/21px Segoe UI;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
        }

        .ui-dropdown__container {
            border-bottom: none;
            width: 150px;
            height: 40px;

            .ui-dropdown__selected-items {
                background-color: var(--colorNeutralBackground1);
                border: 1px solid var(--colorNeutralForegroundStaticInverted);
                border-radius: 0.1875rem;
                width: 150px;
                height: 40px;

                .ui-button {
                    .ui-button__content {
                        position: relative;
                        top: 4px;
                        color: var(--colorNeutralForeground1);
                    }
                }
            }

            .ui-box {
                .ui-icon__outline {
                    fill: var(--colorNeutralForeground1);
                }
            }


            .ui-list {
                width: 100% !important;
                background-color: var(--colorNeutralBackground1);

                .ui-dropdown__item {
                    color: var(--colorNeutralForeground1);
                    background-color: var(--colorSubtleBackground);

                    .ui-dropdown__item__header {
                        color: var(--colorNeutralForeground1);
                    }

                    &:hover {
                        background-color: var(--colorBrandBackgroundInvertedHover);

                        .ui-dropdown__item__header {
                            color: #000000;
                        }
                    }

                }
            }
        }
    }

    .order-label {
        text-align: left;
        font: normal normal normal 16px/21px Segoe UI;
        letter-spacing: 0px;
        color: var(--colorNeutralForeground1);
        opacity: 1;
        margin-bottom: 0.25rem;
    }

    .team-name-config-input-field {
        label {
            text-align: left;
            font: normal normal normal 16px/21px Segoe UI;
            letter-spacing: 0px;
            color: var(--colorNeutralForeground1);
            opacity: 1;
        }

        input[type="text"] {
            font: normal normal normal 16px/21px Segoe UI;
            opacity: 1;
            width: 180px;
            height: 40px;
            color: var(--colorNeutralForeground1);
            background-color: var(--colorNeutralBackground1);
            border: 1px solid var(--colorNeutralForegroundStaticInverted);

            &:focus {
                border-bottom-color: var(--colorNeutralStrokeAccessibleSelected);
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                border-bottom-width: 2px;
                border-top-color: var(--colorSubtleBackground);
                border-left-color: var(--colorSubtleBackground);
                border-right-color: var(--colorSubtleBackground);
            }
        }

        input::placeholder {
            font: normal normal normal 14px/21px Segoe UI;
            color: var(--colorBrandForeground2Pressed);
            opacity: 0.7;
        }
    }

    .team-name-config-preview-img {
        border-radius: 12px;
        opacity: 1;
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        background-color: #D83B01;
    }

    .team-name-config-order-preview-area {
        margin: auto 0;

        .team-name-config-order-preview {
            text-align: left;
            font: normal normal normal 16px/21px Segoe UI;
            letter-spacing: 0px;
            color: var(--colorNeutralForeground1);
            opacity: 1;
            margin-bottom: 30px;
        }
    }

    .team-name-config-btn-area {
        display: flex;
        //justify-content: end;
        margin-top: 20px;

        .team-name-config-save-btn {
            width: 158px;
            height: 44px;
            background: 0% 0% no-repeat padding-box var(--colorBrandBackground);
            box-shadow: 0px 3px 6px #00000029;
            border: 1px solid var(--colorBrandBackground);
            opacity: 1;
            cursor: pointer;

            .team-name-config-save-btn-label {
                font: normal normal 600 16px/24px Segoe UI;
                letter-spacing: 0px;
                color: var(--colorNeutralForegroundOnBrand);
                opacity: 1;
                cursor: pointer;
            }
        }

        .team-name-config-save-btn:hover {
            border: 1px solid rgb(200, 198, 196);
            background: var(--colorBrandBackgroundHover);
        }

        .team-name-config-back-btn {
            width: 136px;
            height: 44px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            opacity: 1;
            margin-right: 30px;

            .team-name-config-back-btn-label {
                width: 37px;
                height: 24px;
                font: normal normal 600 16px/24px Segoe UI;
                letter-spacing: 0px;
                color: #6264A7;
                opacity: 1;
                cursor: pointer;
            }
        }

        .team-name-config-back-btn:hover {
            border: 1px solid var(--colorBrandBackgroundHover);
        }

        .back-btn-contrast:hover {
            background: var(--colorBrandBackgroundHover);
        }
    }

    .loader-bg {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;

        .loaderStyle {
            top: 50%;
            left: 35%;
            position: absolute;
            width: 30%;
            height: 150px;
            z-index: 1;
            opacity: 1;

            div[role="progressbar"] {
                color: black;
                font-weight: bold;
            }
        }
    }
}




div[class="team-name-config"] {
    div[id="team-name-config-path"] {
        width: 100%;
        height: auto;
        max-height: 100vh;

        label {
            margin: 5px auto;
            text-align: center;
            font: normal normal 400 14px/24px Segoe UI;
            color: var(--colorNeutralForeground1) !important;
            opacity: 1;

            span[class="back-label"] {
                font-size: 12px;
                position: relative;
                bottom: 1px;
                margin-left: 1px;

                &:hover {
                    color: var(--colorBrandForegroundLinkHover);
                }
            }

            span[class="back-label"]:focus-visible {
                outline: 2px solid var(--colorBrandForeground2Pressed);
                border-radius: 3px;
                outline-offset: 1px;
            }

            span[class="go-back"] {
                cursor: pointer;

                span[id="path-back-icon"] {
                    position: relative;
                    bottom: 2px;
                }
            }

            span[class="right-border"] {
                position: relative;
                bottom: 1px;
            }
        }
    }

    div[class="team-name-config-form-area"] {
        background: #E4E9F5 0% 0% no-repeat padding-box;
        padding-bottom: 6rem;
        opacity: 1;

        div[class="team-name-config-page-heading"] {
            text-align: left;
            font: normal normal 400 22px/32px Segoe UI;
            letter-spacing: 0px;
            color: #33344A;
            opacity: 1;
            padding-bottom: 12px;
            padding-top: 12px;
        }

        label[class="team-name-config-dropdown-label"] {
            text-align: left;
            font: normal normal normal 16px/21px Segoe UI;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            margin-top: 12px;
        }

        div[class='team-name-config-preview-heading'] {
            text-align: left;
            font: normal normal 400 22px/32px Segoe UI;
            letter-spacing: 0px;
            color: #33344A;
            opacity: 1;
            margin-bottom: 20px;
        }

        label[class="message-label"] {
            color: #ce0000;
        }

        label[class="message-label"]::after {
            content: "";
        }
    }

    div[class~="form-area-darkcontrast"] {
        background: var(--colorNeutralBackground1);
        padding-bottom: 6rem;

        div[class="team-name-config-page-heading"] {
            text-align: left;
            font: normal normal 400 22px/32px Segoe UI;
            letter-spacing: 0px;
            opacity: 1;
            padding-bottom: 12px;
            padding-top: 12px;
        }
    }

}